# PostgreSQL Configuration
POSTGRES_USER=fake_user            # Username for PostgreSQL
POSTGRES_PASSWORD=fake_password123  # Password for PostgreSQL user
POSTGRES_DB=fake_database           # Name of the PostgreSQL database

# Hasura GraphQL Configuration
HASURA_GRAPHQL_ADMIN_SECRET=1234
BRAND_TITLE=Skytraverse
HASURA_GRAPHQL_URL=http://localhost:5581/v1/graphql
