@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-label {
  padding-bottom: 0.25rem !important;
}
.ant-form-item-label label {
  font-size: 12px !important;
  color: #414141 !important;
}
.ant-form-item-explain-error {
  font-size: 12px !important;
}

.PhoneInputInput {
  border: 1px solid #f4f4f4;
}

.grecaptcha-badge {
  visibility: hidden;
}

.spinner {
  box-sizing: border-box;
  display: block;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom scrollbar for the airlines list */
.scrollbar-light::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-light::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.scrollbar-light::-webkit-scrollbar-thumb {
  background: #d1d1d1a3;
  border-radius: 3px;
}

.scrollbar-light::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}
:root {
  --header-height: 88px;
  --top-filter-height: 48px;
  /* --search-result-height: var(
    calc(var(--header-height)+var(--top-filter-height))
  ); */
}
